/* Site Module */

/* header */
$header-padding: golden-ratio(1em, -4) default;
.site-header {
  text-align: center;
}

.site-title {
  display: block;
  font-size: 2em;
  @include pad($header-padding);
}

.site-nav {
  @include pad($header-padding);
}
